.task {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #fff5;
    border-radius: 10px;
    overflow: hidden;
    transition-property: background-color, border, color;
    transition-duration: .2s;
}
.task:hover { background-color: white; }
.task:hover > .task-name { color: black; }
.task.checked:not(:hover) { background-color: #cf04; }

.task-name {
    padding: 15px 20px;
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    margin-right: 20px;
}
.task-name.scroll::after {
    content: '...';
    display: block;
    width: 20px;
    height: 15px;
}

.task .check {
    --size: 15px;
    position: relative;
    margin-right: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: var(--size);
    height: var(--size);
    background-color: #fff8;
    border-radius: 3px;
    cursor: pointer;
}
.task.checked .check { background-color: #cf0; }
.task.checked .check::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 5px;
    border: solid 3px #f80;
    border-top: 0px;
    border-right: 0px;
    transform: translate(-30%, -90%) rotate(-45deg);
}
.task:not(.checked) .check { border: solid 1px black; }
.task.checked .check + .task-text { text-decoration: line-through; }

.task-name .task-text {
    background-color: transparent;
    border: none;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    width: 100%;
    transition: color;
    text-overflow: auto;
}
.task:not(:hover) .task-text[readonly] { color: #fff; }
.task-name .task-text[readonly] { cursor: default; }
.task-name .task-text[readonly]:focus-visible { outline: none; }

.buttons {
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    background-color: buttonface;
    height: 100%;
}
.edit-btn { padding: 0 10px; cursor: pointer; }

.task .delete-btn {
    display: flex;
    height: 100%;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    transition-property: border;
    transition-duration: .2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.delete-btn:hover { color: #c40; }